In [30]:
# Ignore SQLITE warnings related to Decimal numbers in the titanic database
import warnings
warnings.filterwarnings('ignore')

In [31]:
# Import Dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

In [32]:
# Create an engine for the titanic.sqlite database
engine = create_engine("sqlite:///titanic.sqlite", echo=False)

In [33]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(autoload_with=engine)
Base.classes.keys()

In [34]:
# Save a reference to the passenger table as `Passenger`
Passenger = Base.classes.passenger

In [20]:
# Create a database session object
session = Session(engine)

In [21]:
print(Passenger.__table__.columns)

ImmutableColumnCollection(passenger.id, passenger.name, passenger.pclass, passenger.age, passenger.sex, passenger.survived)

In [22]:
# Querying the Passenger table
passengers = session.query(Passenger).all()

# Querying the first 10 passengers in the Passenger table
first_ten_passengers = session.query(Passenger).limit(10).all()

for passenger in first_ten_passengers:
    print(f"ID: {passenger.id}, Name: {passenger.name}, Age: {passenger.age}, Sex: {passenger.sex}, Survived: {passenger.survived}")

ID: 1, Name: Allen, Miss Elisabeth Walton, Age: 29.0, Sex: female, Survived: 1
ID: 2, Name: Allison, Miss Helen Loraine, Age: 2.0, Sex: female, Survived: 0
ID: 3, Name: Allison, Mr Hudson Joshua Creighton, Age: 30.0, Sex: male, Survived: 0
ID: 4, Name: Allison, Mrs Hudson JC (Bessie Waldo Daniels), Age: 25.0, Sex: female, Survived: 0
ID: 5, Name: Allison, Master Hudson Trevor, Age: 0.92, Sex: male, Survived: 1
ID: 6, Name: Anderson, Mr Harry, Age: 47.0, Sex: male, Survived: 1
ID: 7, Name: Andrews, Miss Kornelia Theodosia, Age: 63.0, Sex: female, Survived: 1
ID: 8, Name: Andrews, Mr Thomas, jr, Age: 39.0, Sex: male, Survived: 0
ID: 9, Name: Appleton, Mrs Edward Dale (Charlotte Lamson), Age: 58.0, Sex: female, Survived: 1
ID: 10, Name: Artagaveytia, Mr Ramon, Age: 71.0, Sex: male, Survived: 0

In [23]:
# List all of the passenger sexes
session.query(Passenger.sex).group_by(Passenger.sex).all()

[('female',), ('male',)]

In [24]:
# The survivors per sex
session.query(Passenger.sex, func.sum(Passenger.survived)).\
    group_by(Passenger.sex).\
    order_by(func.sum(Passenger.survived).desc()).all()

[('female', 308), ('male', 142)]

In [25]:
# List all of the Billing Postal Codes for the USA.
results = session.query(Passenger.sex).\
    filter(Passenger.age == 47.0).group_by(Passenger.sex).all()
results

[('female',), ('male',)]

In [26]:
# Calculate the survivalTotals per age

session.query(Passenger.age, func.sum(Passenger.survived)).\
    filter(Passenger.age == 25.0).\
    group_by(Passenger.survived).\
    order_by(func.sum(Passenger.survived).desc()).all()

[(25.0, 7), (25.0, 0)]

In [35]:
print(Base.classes.keys())  # This should now include 'passenger_merge' if it has a suitable primary key

['passenger']